body {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: "Ubuntu",sans-serif;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

html{
  scroll-behavior: smooth;
}

::selection{
  background-color: #48dbfb60;
}

::-webkit-scrollbar{
  width: 10px;
  background-color: #f1f1f1;
}

::-webkit-scrollbar-thumb{
  background-color: #353b48;
}

/*------------------------------NAVBAR------------------------------*/
.navbar{
  position: fixed;
  background-color: transparent;
  width: 100%;
  padding: 30px 0;
  top: 0;
  z-index: 999;
  transition: .3s linear;
}

.inner-width{
  max-width: 1300px;
  margin: auto;
  padding: 0 40px;
}

.navbar .inner-width{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo{
  width: 44px;
  height: 32px;
  background-image: url(/static/images/logo-light-icon.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.menu-toggler{
  background: none;
  width: 30px;
  border: none;
  cursor: pointer;
  position: relative;
  outline: none;
  z-index: 999;
  display: none;
}

.menu-toggler span{
  display: block;
  height: 3px;
  background-color: #fff;
  margin: 6px 0;
  position: relative;
  transition: .3s linear;
}

.navbar-menu a{
  color: #fff;
  font-size: 15px;
  font-weight: 500;
  margin-left: 30px;
  transition: .2s linear;
}

.navbar-menu a:hover{
  color: #48dbfb !important;
}

.sticky{
  background-color: #fff;
  padding: 18px 0;
}

.sticky .logo{
  background-image: url(/static/images/logo-icon.png);
}

.sticky .navbar-menu a{
  color: #111;
}

.sticky .menu-toggler span{
  background-color: #111;
}

/*------------------------------INICIO------------------------------*/
#home{
  height: 100vh;
  min-height: 500px;
  background: url(/static/imagesindex/bg/bg8.jpg) no-repeat center;
  background-size: cover;
  background-attachment: fixed;
}

#home .inner-width{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  text-align: center;
}

#home .content{
  width: 100%;
  color: #fff;
}

#home .content h1{
  font-size: 60px;
  margin-bottom: 60px;
}

.sm a{
  color: #fff;
  font-size: 22px;
  margin: 0 10px;
  transition: .2s linear;
}

.sm a:hover{
  color: #48dbfb;
}

#home .buttons{
  margin-top: 60px;
}

#home .buttons a{
  display: inline-block;
  margin: 15px 30px;
  color: #48dbfb;
  font-size: 15px;
  font-weight: 500;
  width: 180px;
  border: 1px solid #48dbfb;
  padding: 14px 0;
  border-radius: 6px;
  transition: .2s linear;
}

#home .buttons a:hover,
#home .buttons a:nth-child(2)
{
  background-color: #48dbfb;
  color: #fff;
}

section{
  padding: 100px 0;
  background-color: #f1f1f1;
}

.section-title{
  text-align: center;
  margin-bottom: 80px;
  position: relative;
  font-size: 26px;
  padding-bottom: 20px;
  color: #111;
}

/*------------------------------MISSAO------------------------------*/
.section-title::before{
  content: "";
  position: absolute;
  width: 80px;
  height: 3px;
  background-color: #111;
  bottom: 0;
  left: calc(50% - 40px);
}

.section-title::after{
  content: "";
  position: absolute;
  width: 16px;
  height: 10px;
  background-color: #48dbfb;
  border: 4px solid #f1f1f1;
  left: calc(50% - 12px);
  bottom: -7px;
}

.about-content{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.about-pic{
  width: 200px;
  border-radius: 20%;
  margin-right: 100px;
}

.about-text{
  flex: 1;
}

.about-text p{
  font-size: 17px;
  text-align: justify;
  line-height: 26px;
  margin-top: 20px;
}

.html:after{
  width: 90%;
}

.css:after{
  width: 80%;
}

.js:after{
  width: 70%;
}

.php:after{
  width: 60%;
}

.mysql:after{
  width: 90%;
}

.cs:after{
  width: 80%;
}

section.dark{
  background-color: #353b48;
}

section.dark .section-title{
  color: #f1f1f1;
}

section.dark .section-title::before{
  background-color: #f1f1f1;
}

section.dark .section-title::after{
  border: 4px solid #353b48;
}

/*------------------------------CURSOS------------------------------*/
.services{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.service{
  width: calc(33% - 50px);
  text-align: center;
  border: 1px solid #48dbfb;
  border-radius: 6px;
  margin: 20px 0;
  padding: 40px 20px;
  color: #fff;
  cursor: pointer;
  transition: .3s linear;
}

.service .icon{
  color: #48dbfb;
  font-size: 40px;
  margin-bottom: 20px;
  transition: .3s linear;
}

.service h4{
  font-size: 16px;
  margin-bottom: 6px;
}

.service:hover{
  background-color: #48dbfb;
  color: black;
}

.service:hover .icon{
  color: #fff;
}

.time-line,.works{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

/*------------------------------FAQ------------------------------*/
.block{
  width: calc(50% - 80px);
  background-color: #fff;
  border: 1px solid #ddd;
  margin: 10px 0;
  padding: 30px;
  position: relative;
}

.block::before{
  content: "";
  position: absolute;
  width: 1px;
  height: 120%;
  background-color: #ddd;
  left: -20px;
  top: 50%;
  transform: translateY(-50%);
}

.block::after{
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  background-color: #48dbfb;
  left: -28px;
  top: 30px;
  border-radius: 50%;
}

.block h3{
  font-size: 16px;
  margin: 10px 0;
}

.block p{
  font-size: 15px;
  color: #444;
}

/*------------------------------PRECOS------------------------------*/
table{
  width:65%;
  table-layout: fixed;
  margin-left: auto;
  margin-right: auto;
}
.tbl-header{
  background-color: transparent;
  width:100%;
  margin-left: auto;
  margin-right: auto;
 }
.tbl-content{
  height: 100%;
  overflow-x:auto;
  margin-top: 10px;
  border: none;
}
th{
  padding: 20px 15px;
  text-align: left;
  font-weight: 500;
  font-size: 20px;
  color: #fff;
  text-transform: uppercase;
  border-bottom: solid 4px rgba(255,255,255,0.1);
}
td{
  padding: 15px;
  text-align: left;
  vertical-align:middle;
  font-weight: 300;
  font-size: 12px;
  color: #fff;
  border-bottom: solid 3px rgba(255,255,255,0.1);
}

/*------------------------------CONTACTOS------------------------------*/
.contact-info{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 60px;
}

.contact-info .item{
  width: calc(33% - 20px);
  height: 160px;
  background-color: #353b48;
  color: #fff;
  text-align: center;
  border-radius: 4px;
  cursor: pointer;
  transition: .3s linear;
}

.contact-info i{
  display: block;
  font-size: 40px;
  line-height: 120px;
  height: 100px;
}

.contact-info .item:hover{
  background-color: #48dbfb;
}

.contact-form{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.contact-form input, .contact-form textarea{
  width: 100%;
  height: 50px;
  margin: 10px 0;
  background-color: #353b48;
  border: none;
  outline: none;
  padding: 20px;
  border-radius: 4px;
  color: #fff;
}

.nameZone, .emailZone{
  max-width: calc(50% - 10px);
}

.messageZone{
  min-height: 200px;
  resize: vertical;
}

.contact-form .btn{
  width: 180px;
  background-color: transparent;
  color: #48dbfb;
  font-size: 16px;
  border: 2px solid #48dbfb;
  padding: 0;
  margin-left: auto;
  cursor: pointer;
  transition: .3s linear;
}

.contact-form .btn:hover{
  background-color: #48dbfb;
  color: #fff;
}

/*------------------------------FOOTER------------------------------*/
footer{
  background: url(/static/imagesindex/bg/bg8.jpg) no-repeat center;
  color: #fff;
  padding: 80px 0;
  text-align: center;
}

.copyright{
  margin-bottom: 20px;
  font-size: 15px;
}

.copyright a{
  font-size: 16px;
  color: #48dbfb;
  font-weight: 500;
}

.goTop{
  position: fixed;
  z-index: 999;
  bottom: 40px;
  right: 40px;
  width: 40px;
  height: 40px;
  background-color: #48dbfb;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  color: #fff;
  outline: none;
  display: none;
}

@media screen and (max-width: 980px){
  .menu-toggler{
    display: block;
  }

  .navbar-menu{
    position: fixed;
    height: 100vh;
    width: 100%;
    background-color: #353b48;
    top: 0;
    right: -100%;
    max-width: 400px;
    padding: 80px 50px;
    transition: .3s linear;
  }

  .navbar-menu a{
    display: block;
    font-size: 30px;
    margin: 30px 0;
  }

  .sticky .navbar-menu{
    background-color: #f1f1f1;
  }

  .navbar-menu.active{
    right: 0;
  }

  .menu-toggler.active span:nth-child(1){
    transform: rotate(-45deg);
    top: 4px;
  }

  .menu-toggler.active span:nth-child(2){
    opacity: 0;
  }

  .menu-toggler.active span:nth-child(3){
    transform: rotate(45deg);
    bottom: 14px;
  }

  .inner-width{
    max-width: 800px;
  }

  .about-pic{
    margin: 0 auto 60px;
  }

  .about-text{
    flex: 100%;
    text-align: center;
  }

  .service{
    width: calc(50% - 20px);
  }

  .block{
    width: calc(100% - 20px);
    margin-left: auto;
  }

  .work{
    width: calc(50% - 10px);
  }

  .contact-info .item{
    width: 100%;
    margin: 10px 0;
  }
}

@media screen and (max-width: 600px){
  .inner-width{
    padding: 0 20px;
  }

  .skill{
    width: 100%;
  }

  .service{
    width: 100%;
  }

  .work{
    width: 100%;
  }

  .nameZone, .emailZone{
    max-width: 100%;
  }
}

/*------------------------------PIANO------------------------------*/
#home2 {
  height: 100vh;
  min-height: 500px;
  background: url(/static/imagesindex/bg/bg1.png) no-repeat center;
  background-size: cover;
  background-attachment: fixed;
}

#home2 .inner-width{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  text-align: center;
}

#home2 .content{
  width: 100%;
  color: #fff;
}

#home2 .content h1{
  font-size: 60px;
  margin-bottom: 60px;
}

#home2 .buttons{
  margin-top: 60px;
}

#home2 .buttons a{
  display: inline-block;
  margin: 15px 30px;
  color: #48dbfb;
  font-size: 15px;
  font-weight: 500;
  width: 180px;
  border: 1px solid #48dbfb;
  padding: 14px 0;
  border-radius: 6px;
  transition: .2s linear;
}

#home2 .buttons a:hover,
#home2 .buttons a:nth-child(2)
{
  background-color: #48dbfb;
  color: #fff;
}

/*------------------------------GUITARARA ACUSTICA------------------------------*/
#home4 {
  height: 100vh;
  min-height: 500px;
  background: url(/static/imagesindex/bg/bg9.jpg) no-repeat center;
  background-size: cover;
  background-attachment: fixed;
}

#home4 .inner-width{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  text-align: center;
}

#home4 .content{
  width: 100%;
  color: #fff;
}

#home4 .content h1{
  font-size: 60px;
  margin-bottom: 60px;
}

#home4 .buttons{
  margin-top: 60px;
}

#home4 .buttons a{
  display: inline-block;
  margin: 15px 30px;
  color: #48dbfb;
  font-size: 15px;
  font-weight: 500;
  width: 180px;
  border: 1px solid #48dbfb;
  padding: 14px 0;
  border-radius: 6px;
  transition: .2s linear;
}

#home4 .buttons a:hover,
#home4 .buttons a:nth-child(2)
{
  background-color: #48dbfb;
  color: #fff;
}

/*------------------------------BATERIA------------------------------*/
#home5 {
  height: 100vh;
  min-height: 500px;
  background: url(/static/imagesindex/bg/bg10.jpg) no-repeat center;
  background-size: cover;
  background-attachment: fixed;
}

#home5 .inner-width{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  text-align: center;
}

#home5 .content{
  width: 100%;
  color: #fff;
}

#home5 .content h1{
  font-size: 60px;
  margin-bottom: 60px;
}

#home5 .buttons{
  margin-top: 60px;
}

#home5 .buttons a{
  display: inline-block;
  margin: 15px 30px;
  color: #48dbfb;
  font-size: 15px;
  font-weight: 500;
  width: 180px;
  border: 1px solid #48dbfb;
  padding: 14px 0;
  border-radius: 6px;
  transition: .2s linear;
}

#home5 .buttons a:hover,
#home5 .buttons a:nth-child(2)
{
  background-color: #48dbfb;
  color: #fff;
}

/*------------------------------CANTO------------------------------*/
#home6 {
  height: 100vh;
  min-height: 500px;
  background: url(/static/imagesindex/bg/bg11.jpg) no-repeat center;
  background-size: cover;
  background-attachment: fixed;
}

#home6 .inner-width{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  text-align: center;
}

#home6 .content{
  width: 100%;
  color: #fff;
}

#home6 .content h1{
  font-size: 60px;
  margin-bottom: 60px;
}

#home6 .buttons{
  margin-top: 60px;
}

#home6 .buttons a{
  display: inline-block;
  margin: 15px 30px;
  color: #48dbfb;
  font-size: 15px;
  font-weight: 500;
  width: 180px;
  border: 1px solid #48dbfb;
  padding: 14px 0;
  border-radius: 6px;
  transition: .2s linear;
}

#home6 .buttons a:hover,
#home6 .buttons a:nth-child(2)
{
  background-color: #48dbfb;
  color: #fff;
}

/*------------------------------GUITARRA------------------------------*/
#home7 {
  height: 100vh;
  min-height: 500px;
  background: url(/static/imagesindex/bg/bg12.jpg) no-repeat center;
  background-size: cover;
  background-attachment: fixed;
}

#home7 .inner-width{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  text-align: center;
}

#home7 .content{
  width: 100%;
  color: #fff;
}

#home7 .content h1{
  font-size: 60px;
  margin-bottom: 60px;
}

#home7 .buttons{
  margin-top: 60px;
}

#home7 .buttons a{
  display: inline-block;
  margin: 15px 30px;
  color: #48dbfb;
  font-size: 15px;
  font-weight: 500;
  width: 180px;
  border: 1px solid #48dbfb;
  padding: 14px 0;
  border-radius: 6px;
  transition: .2s linear;
}

#home7 .buttons a:hover,
#home7 .buttons a:nth-child(2)
{
  background-color: #48dbfb;
  color: #fff;
}

/*------------------------------GUITARRA ELETRICA------------------------------*/
#home8 {
  height: 100vh;
  min-height: 500px;
  background: url(/static/imagesindex/bg/bg13.jpg) no-repeat center;
  background-size: cover;
  background-attachment: fixed;
}

#home8 .inner-width{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  text-align: center;
}

#home8 .content{
  width: 100%;
  color: #fff;
}

#home8 .content h1{
  font-size: 60px;
  margin-bottom: 60px;
}

#home8 .buttons{
  margin-top: 60px;
}

#home8 .buttons a{
  display: inline-block;
  margin: 15px 30px;
  color: #48dbfb;
  font-size: 15px;
  font-weight: 500;
  width: 180px;
  border: 1px solid #48dbfb;
  padding: 14px 0;
  border-radius: 6px;
  transition: .2s linear;
}

#home8 .buttons a:hover,
#home8 .buttons a:nth-child(2)
{
  background-color: #48dbfb;
  color: #fff;
}

/*------------------------------CAVAQUINHO------------------------------*/
#home9 {
  height: 100vh;
  min-height: 500px;
  background: url(/static/imagesindex/bg/bg14.jpg) no-repeat center;
  background-size: cover;
  background-attachment: fixed;
}

#home9 .inner-width{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  text-align: center;
}

#home9 .content{
  width: 100%;
  color: #fff;
}

#home9 .content h1{
  font-size: 60px;
  margin-bottom: 60px;
}

#home9 .buttons{
  margin-top: 60px;
}

#home9 .buttons a{
  display: inline-block;
  margin: 15px 30px;
  color: #48dbfb;
  font-size: 15px;
  font-weight: 500;
  width: 180px;
  border: 1px solid #48dbfb;
  padding: 14px 0;
  border-radius: 6px;
  transition: .2s linear;
}

#home9 .buttons a:hover,
#home9 .buttons a:nth-child(2)
{
  background-color: #48dbfb;
  color: #fff;
}

/*------------------------------Saxofone------------------------------*/
#home10 {
  height: 100vh;
  min-height: 500px;
  background: url(/static/imagesindex/bg/bg15.jpg) no-repeat center;
  background-size: cover;
  background-attachment: fixed;
}

#home10 .inner-width{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  text-align: center;
}

#home10 .content{
  width: 100%;
  color: #fff;
}

#home10 .content h1{
  font-size: 60px;
  margin-bottom: 60px;
}

#home10 .buttons{
  margin-top: 60px;
}

#home10 .buttons a{
  display: inline-block;
  margin: 15px 30px;
  color: #48dbfb;
  font-size: 15px;
  font-weight: 500;
  width: 180px;
  border: 1px solid #48dbfb;
  padding: 14px 0;
  border-radius: 6px;
  transition: .2s linear;
}

#home10 .buttons a:hover,
#home10 .buttons a:nth-child(2)
{
  background-color: #48dbfb;
  color: #fff;
}

/*------------------------------VIOLINO------------------------------*/
#home11 {
  height: 100vh;
  min-height: 500px;
  background: url(/static/imagesindex/bg/bg16.jpg) no-repeat center;
  background-size: cover;
  background-attachment: fixed;
}

#home11 .inner-width{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  text-align: center;
}

#home11 .content{
  width: 100%;
  color: #fff;
}

#home11 .content h1{
  font-size: 60px;
  margin-bottom: 60px;
}

#home11 .buttons{
  margin-top: 60px;
}

#home11 .buttons a{
  display: inline-block;
  margin: 15px 30px;
  color: #48dbfb;
  font-size: 15px;
  font-weight: 500;
  width: 180px;
  border: 1px solid #48dbfb;
  padding: 14px 0;
  border-radius: 6px;
  transition: .2s linear;
}

#home11 .buttons a:hover,
#home11 .buttons a:nth-child(2)
{
  background-color: #48dbfb;
  color: #fff;
}

/*------------------------------PAGINASPARAINSTRUMENTOS------------------------------*/
.sobre-section{
  width: 100%;
  background: #f1f1f1;
  padding: 150px 0;
}

.sobre-section h1{
  text-align: center;
}
.border{
  width: 100px;
  height: 3px;
  background: #48dbfb;
  margin: 40px auto;
}
.sobre-section-row{
  display: flex;
  flex-wrap: wrap;
}
.sobre-section-col{
  flex: 50%;
}
.sobre{
  padding-right: 30px;
}
.sobre p{
  text-align: justify;
  margin-bottom: 20px;
}

.tbl-header2{
  background-color: transparent;
  width:100%;
  margin-left: auto;
  margin-right: auto;
 }
.tbl-content2{
  height: 100%;
  overflow-x:auto;
  margin-top: 10px;
  border: none;
}
.th2{
  padding: 20px 15px;
  text-align: left;
  font-weight: 500;
  font-size: 20px;
  color: black;
  text-transform: uppercase;
  border-bottom: solid 3px #48dbfb;
}
.td2{
  padding: 15px;
  text-align: left;
  vertical-align:middle;
  font-weight: 300;
  font-size: 12px;
  color: black;
  border-bottom: solid 2px #48dbfb;
}

/*------------------------------LOADER------------------------------*/
.loader-container{
    width: 100%;
    height: 100vh;
    background-color: #111;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loader{
    width: 50px;
    height: 50px;
    border: 5px solid;
    color: #3498db;
    border-radius: 50%;
    border-top-color: transparent;
    animation: loader 1.2s linear infinite;
}

@keyframes loader{
    25%{
        color: #2ecc71;
    }
    50%{
        color: #f1c40f;
    }
    75%{
        color: #e74c3c;
    }
    to{
        transform: rotate(360deg);
    }
}

/*------------------------------LOGIN------------------------------*/
#home3 {
  height: 100vh;
  min-height: 500px;
  background: url(/static/imagesindex/bg/bglogin.png) no-repeat center;
  background-size: cover;
  background-attachment: fixed;
}

#home3 .inner-width{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  text-align: center;
}

#home3 .content{
  width: 100%;
  color: #fff;
}

#home3 .content h1{
  font-size: 60px;
  margin-bottom: 60px;
}

#home3 .buttons{
  margin-top: 60px;
}

#home3 .buttons a{
  display: inline-block;
  margin: 15px 30px;
  color: #48dbfb;
  font-size: 15px;
  font-weight: 500;
  width: 180px;
  border: 1px solid #48dbfb;
  padding: 14px 0;
  border-radius: 6px;
  transition: .2s linear;
}

#home3 .buttons a:hover,
#home3 .buttons a:nth-child(2)
{
  background-color: #48dbfb;
  color: #fff;
}

.signup-form{
  width: 300px;
  padding: 20px;
  text-align: center;
  background: url(/static/imagesindex/bg/bglogin.png);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  overflow: hidden;
}
.signup-form h1{
  margin-top: 100px;
  font-family: 'Permanent Marker', cursive;
  color: #fff;
  font-size: 40px;
}
.signup-form input{
  display: block;
  width: 100%;
  padding: 0 16px;
  height: 44px;
  text-align: center;
  box-sizing: border-box;
  outline: none;
  border: none;
  font-family: "montserrat",sans-serif;
}
.txtb{
  margin: 20px 0;
  background: rgba(255,255,255,.5);
  border-radius: 6px;
  color: white;
}
.signup-btn{
  margin-top: 60px;
  margin-bottom: 20px;
  background: #487eb0;
  color: #fff;
  border-radius: 44px;
  cursor: pointer;
  transition: 0.8s;
}
.signup-btn:hover{
  transform: scale(0.96);
}
.signup-form a{
  text-decoration: none;
  color: #fff;
  font-family: "montserrat",sans-serif;
  font-size: 14px;
  padding: 10px;
  transition: 0.8s;
  display: block;
}
.signup-form a:hover{
  background: rgba(0,0,0,.3);
}
