<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/images/favicon.png">
    <title>Escola CMB</title>
    <link href="/static/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/plugins/footable/css/footable.bootstrap.min.css" rel="stylesheet">
    <link href="/static/style2.css" rel="stylesheet">
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
</head>

<body class="fix-header fix-sidebar card-no-border">
<div class="preloader">
    <svg class="circular" viewBox="25 25 50 50">
        <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"/>
    </svg>
</div>

<div id="main-wrapper">
    <header class="topbar">
        <nav class="navbar top-navbar navbar-expand-md navbar-light">

            <div class="navbar-header">
                <a class="navbar-brand" href="dashboard">
                    <b>
                        <img src="/static/images/logo-icon.png" alt="homepage" class="dark-logo"/>
                    </b>
                    <span>
                </a>
            </div>

            <div class="navbar-collapse">
                <ul class="navbar-nav mr-auto mt-md-0">
                    <li class="nav-item"><a class="nav-link nav-toggler hidden-md-up text-muted waves-effect waves-dark"
                                            href="javascript:void(0)"><i class="mdi mdi-menu"></i></a></li>
                    <li class="nav-item"><a
                            class="nav-link sidebartoggler hidden-sm-down text-muted waves-effect waves-dark"
                            href="javascript:void(0)"><i class="ti-menu"></i></a></li>
                </ul>
            </div>
        </nav>
    </header>
    <aside class="left-sidebar">
        <div class="scroll-sidebar">
            <div class="user-profile" style="background: url(/static/images/background/user-info.jpg) no-repeat;">
                <div class="profile-img"><img src="/static/images/users/profile.png" alt="user"/></div>
                <div class="profile-text"><a href="#" class="dropdown-toggle u-dropdown" data-toggle="dropdown"
                                             role="button" aria-haspopup="true" aria-expanded="true">Diretor</a>
                    <div class="dropdown-menu animated flipInY"><a href="/profile" class="dropdown-item"><i
                            class="ti-user"></i> My Profile</a>
                        <a href="/profile" class="dropdown-item"><i class="ti-settings"></i> Account Setting</a>
                        <div class="dropdown-divider"></div>
                        <a href="/" class="dropdown-item"><i class="fa fa-power-off"></i> Logout</a></div>
                </div>
            </div>

            <nav class="sidebar-nav">
                <ul id="sidebarnav">
                    <li><a class="waves-effect waves-dark" href="dashboard" aria-expanded="false"><i
                            class="mdi mdi-gauge"></i>Dashboard</a>
                    </li>
                    <li><a class="waves-effect waves-dark" href="app-calendar" aria-expanded="false"><i
                            class="mdi mdi-calendar-blank"></i><span class="hide-menu">Calendario</span></a>
                    </li>
                    <li><a class="waves-effect waves-dark" href="app-contact" aria-expanded="false"><i
                            class="mdi mdi-contacts"></i><span class="hide-menu">Contacto Funcionario</span></a>
                    </li>
                    <li><a class="waves-effect waves-dark" href="app-contactalunos" aria-expanded="false"><i
                            class="mdi mdi-contacts"></i><span class="hide-menu">Contacto Alunos</span></a>
                    </li>
                    <li class="nav-devider"></li>
                </ul>
            </nav>
        </div>
    </aside>

    <div class="page-wrapper">
        <div class="container-fluid">
            <div class="row page-titles">
                <div class="col-md-5 col-8 align-self-center">
                    <h3 class="text-themecolor m-b-0 m-t-0">Contato</h3>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                        <li class="breadcrumb-item active">Contato</li>
                    </ol>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="contact-page-aside">
                            <!-- .left-aside-column-->
                            <div class="left-aside">
                                <ul class="list-style-none">
                                    <li class="box-label"><a href="javascript:void(0)">Todos os Contactos
                                        <span>{{ tabela|count }}</span></a></li>
                                    <li class="divider"></li>
                                </ul>
                            </div>
                            <div class="right-aside">
                                <div class="right-page-header">
                                    <div class="d-flex">
                                        <div class="align-self-center">
                                            <h4 class="card-title m-t-10">Contatos / Lista de Funcionários </h4></div>
                                    </div>
                                    <div class="table-responsive">
                                        <table id="demo-foo-addrow"
                                               class="table m-t-30 table-hover no-wrap contact-list" data-paging="true"
                                               data-paging-size="7">
                                            <thead>
                                            <tr>
                                                <th>ID</th>
                                                <th>Nome</th>
                                                <th>Email</th>
                                                <th>Telemovel</th>
                                                <th>Cargo</th>
                                                <th>Idade</th>
                                                <th>Salario</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% for li in range(0, max) %}
                                            <tr>
                                                {% for co in range(0, 7) %}
                                                <td align="left">
                                                    {{ tabela[li][co] }}
                                                </td>
                                                {% endfor %}
                                                <td>
                                                    <form action="/app-contact-detailfuncionarios/{{ li }}">
                                                        <input type='submit' class="btn btn-info btn-rounded" value='Editar dados'>
                                                    </form>
                                                </td>
                                            </tr>
                                            {% endfor %}
                                            </tbody>
                                            <tfoot>
                                            <tr>
                                                <td colspan="2">
                                                    <a href="addfuncionario">
                                                        <button type="button" class="btn btn-info btn-rounded">Adicionar Novo Contato
                                                        </button>
                                                    </a>
                                                </td>
                                                <td colspan="7">
                                                    <div class="text-right">
                                                        <ul class="pagination"></ul>
                                                    </div>
                                                </td>
                                            </tr>
                                            </tfoot>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <footer class="footer">
                © 2021 Escola CMB
            </footer>
        </div>
    </div>
    <script data-cfasync="false"
            src="../../../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
    <script src="/static/plugins/jquery/jquery.min.js"></script>
    <script src="/static/plugins/popper/popper.min.js"></script>
    <script src="/static/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="/static/js/jquery.slimscroll.js"></script>
    <script src="/static/js/waves.js"></script>
    <script src="/static/js/sidebarmenu.js"></script>
    <script src="/static/js/custom.min.js"></script>
    <script src="/static/plugins/moment/moment.js"></script>
    <script src="/static/plugins/footable/js/footable.min.js"></script>
    <script src="/static/js/footable-init.js"></script>
</body>
</html>