{% extends 'layout.html' %}
{% block conteudo %}
<body>
<div class="loader-container">
    <div class="loader"></div>
</div>
<section id="home5">
    <div class="inner-width">
        <div class="content">
            <h1>BATERIA</h1>
            <div class="sm">
                <a href="https://www.facebook.com" class="fab fa-facebook-f"></a>
                <a href="https://twitter.com/home" class="fab fa-twitter"></a>
                <a href="https://instagram.com" class="fab fa-instagram"></a>
            </div>
        </div>
    </div>
</section>

<section id="sobre">
    <div class="sobre-section">
        <div class="inner-width">
            <h1>Bateria</h1>
            <div class="border"></div>
            <div class="sobre-section-row">
                <div class="sobre-section-col">
                    <div class="sobre">
                        <p>
                            O curso de bateria está pesado não só para quem quer iniciar o estudo
                            deste instrumento mas também para aqueles que já têm noções básicas e pretendem consolidar
                            os seus conhecimentos.<br><br>

                            O curso abrange as vertentes de técnica do instrumento, independência de mão/pé direita(o) e
                            esquerda(o), tempo, técnica de caixa, afinação, domínio da respetiva notação, ritmos de
                            diferentes estilos contemporâneos, interpretação e execução de solos.<br><br>

                            O aulas de Bateria desenvolvem-se em duas modalidades: aprendizagem livre, adaptada ao ritmo
                            de vida e disponibilidade do aluno, ou ensino certificado.
                        </p>

                        <div class="tbl-header2">
                            <table cellpadding="0" cellspacing="0" border="0">
                                <thead>
                                <tr>
                                    <th class="th2">ATIVIDADE</th>
                                    <th class="th2">AULAS</th>
                                    <th class="th2">PRECO</th>
                                </tr>
                                </thead>
                            </table>
                        </div>
                        <div class="tbl-content2">
                            <table cellpadding="0" cellspacing="0" border="0">
                                <tbody>
                                <tr>
                                    <td class="td2">Bateria</td>
                                    <td class="td2">2 / por semana</td>
                                    <td class="td2">40€/ 60€ individual</td>
                                </tr>
                                <tr>
                                    <td class="td2">Bateria</td>
                                    <td class="td2">3 / por semana</td>
                                    <td class="td2">65€/ 85€ individual</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
        $(window).on("load",function(){
            $(".loader-container").fadeOut(1000);
        });

</script>
</body>
{% endblock %}
