{% extends 'layout.html' %}
{% block conteudo %}
<body>
<div class="loader-container">
    <div class="loader"></div>
</div>
<section id="home9">
    <div class="inner-width">
        <div class="content">
            <h1>CAVAQUINHO</h1>
            <div class="sm">
                <a href="https://www.facebook.com" class="fab fa-facebook-f"></a>
                <a href="https://twitter.com/home" class="fab fa-twitter"></a>
                <a href="https://instagram.com" class="fab fa-instagram"></a>
            </div>
        </div>
    </div>
</section>

<section id="sobre">
    <div class="sobre-section">
        <div class="inner-width">
            <h1>Cavaquinho</h1>
            <div class="border"></div>
            <div class="sobre-section-row">
                <div class="sobre-section-col">
                    <div class="sobre">
                        <p>
                            O Cavaquinho é um instrumento que tem origem na cidade de Braga e daqui se espalhou um pouco
                            pelos quatros cantos do mundo.<br><br>

                            Sendo muitas vezes apelidade de “limitado”, é na verdade um instrumento com muito potencial
                            e cheio de capacidades para surpreender os mais criativos.<br><br>

                            Quando Braga aposta forte em ser a capital do cavaquinho por direito próprio, a Escola
                            associa-se a esta causa empenhando-se no ensino deste fantástico instrumento.<br><br>

                            As aulas de cavaquinho não se centram só no repertório tradicional,mas na procura de outras
                            sonoridades e outros estilos musicais, desenvolvendo-se um ensino mais individualizado, mas
                            sem nunca esquecer o trabalho em grupo, que é uma das principais lacunas de muitas pessoas
                            que tocam o instrumento, o saber tocar em grupo.<br><br>

                            Este é um pequeno grande instrumento que está ao alcance de todos!
                        </p>

                        <div class="tbl-header2">
                            <table cellpadding="0" cellspacing="0" border="0">
                                <thead>
                                <tr>
                                    <th class="th2">ATIVIDADE</th>
                                    <th class="th2">AULAS</th>
                                    <th class="th2">PRECO</th>
                                </tr>
                                </thead>
                            </table>
                        </div>
                        <div class="tbl-content2">
                            <table cellpadding="0" cellspacing="0" border="0">
                                <tbody>
                                <tr>
                                    <td class="td2">Cavaquinho</td>
                                    <td class="td2">2 / por semana</td>
                                    <td class="td2">35€/ 45€ individual</td>
                                </tr>
                                <tr>
                                    <td class="td2">Cavaquinho</td>
                                    <td class="td2">3 / por semana</td>
                                    <td class="td2">50€/ 60€ individual</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
        $(window).on("load",function(){
            $(".loader-container").fadeOut(1000);
        });



</script>
</body>
{% endblock %}
