{% extends 'layout.html' %}
{% block conteudo %}
<body>
<div class="loader-container">
    <div class="loader"></div>
</div>
<section id="home8">
    <div class="inner-width">
        <div class="content">
            <h1>GUITARRA ELETRICA</h1>
            <div class="sm">
                <a href="https://www.facebook.com" class="fab fa-facebook-f"></a>
                <a href="https://twitter.com/home" class="fab fa-twitter"></a>
                <a href="https://instagram.com" class="fab fa-instagram"></a>
            </div>
        </div>
    </div>
</section>

<section id="sobre">
    <div class="sobre-section">
        <div class="inner-width">
            <h1>Guitarra Eletrica</h1>
            <div class="border"></div>
            <div class="sobre-section-row">
                <div class="sobre-section-col">
                    <div class="sobre">
                        <p>
                            A guitarra elétrica é um instrumento essencial na prática dos mais variados géneros
                            musicais, dos quais se destacam o rock, o blues, mas também o pop, o jazz e o heavy-metal.<br><br>

                            O ensino da guitarra eléctrica na Escola de Música tem por fundamento um ensino
                            personalizado, onde são utilizadas metodologias reconhecidas e certificadas mundialmente.<br><br> O
                            aulas de Guitarra Elétrica desenvolvem-se em duas modalidades: aprendizagem livre, adaptada
                            ao ritmo de vida e disponibilidade do aluno, ou ensino certificado.<br><br>

                            Na Escola podes encontrar uma equipa de professores qualificados, que podem fazer
                            do teu “sonho”, uma realidade!
                        </p>

                        <div class="tbl-header2">
                            <table cellpadding="0" cellspacing="0" border="0">
                                <thead>
                                <tr>
                                    <th class="th2">ATIVIDADE</th>
                                    <th class="th2">AULAS</th>
                                    <th class="th2">PRECO</th>
                                </tr>
                                </thead>
                            </table>
                        </div>
                        <div class="tbl-content2">
                            <table cellpadding="0" cellspacing="0" border="0">
                                <tbody>
                                <tr>
                                    <td class="td2">Guitarra Eletrica</td>
                                    <td class="td2">2 / por semana</td>
                                    <td class="td2">25€/ 40€ individual</td>
                                </tr>
                                <tr>
                                    <td class="td2">Guitarra Eletrica</td>
                                    <td class="td2">3 / por semana</td>
                                    <td class="td2">45€ / 60€ individual</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
        $(window).on("load",function(){
            $(".loader-container").fadeOut(1000);
        });



</script>
</body>
{% endblock %}
