{% extends 'layout.html' %}
{% block conteudo %}
<body>
<div class="loader-container">
    <div class="loader"></div>
</div>
<section id="home">
    <div class="inner-width">
        <div class="content">
            <h1>ESCOLA CMB</h1>
            <div class="sm">
                <a href="https://www.facebook.com" class="fab fa-facebook-f"></a>
                <a href="https://twitter.com/home" class="fab fa-twitter"></a>
                <a href="https://instagram.com" class="fab fa-instagram"></a>
            </div>
            <div class="buttons">
                <a href="#contact">Contacte-nos</a>
                <a href="#about">Mais informacoes</a>
            </div>
        </div>
    </div>
</section>


<section id="about">
    <div class="inner-width">
        <h1 class="section-title">A NOSSA MISSAO</h1>
        <div class="about-content">
            <img src="/static/images/logo-icon.png" alt="" class="about-pic">
            <div class="about-text">
                <h2>Ola! Bem Vindo A CMB</h2>
                <p>
                    Temos como principal objetivo oferecer um ensino de qualidade, num ambiente único e descontraído,
                    abordando os mais diversos estilos musicais seguindo metodologias de ensino ajustadas a cada
                    indivíduo, de acordo com os seus interesses/objetivos, idade e/ou especificidades individuais.

                    A nossa linha orientadora de ensino tem como base uma forma aberta, honesta e verdadeiramente
                    inclusiva no infinito respeito por cada identidade de todos aqueles que chegam até nós desenvolvendo
                    momentos de música, de espanto, de descoberta, de trabalho e de partilha.

                    Move-nos assim, a paixão pela música e o seu impacto positivo na nossa sociedade. Esta paixão é
                    partilhada com todos os nossos alunos e acreditamos que todos temos o direito a usufruir e aprender
                    de forma única e singular esta tão nobre arte, a Música.
                </p>
            </div>
        </div>
    </div>
</section>


<section id="services" class="dark">
    <div class="inner-width">
        <h1 class="section-title">CURSOS</h1>
        <div class="services">

            <div class="service" onClick="location.href='/piano'">
                <img src="/static/imagesindex/cursos/piano.png">
                <h4>PIANO</h4>
            </div>

            <div class="service" onClick="location.href='/guitarraacustica'">
                <img src="/static/imagesindex/cursos/baixo_eletrica.png">
                <h4>GUITARRA ACUSTICA</h4>
            </div>

            <div class="service" onClick="location.href='/bateria'">
                <img src="/static/imagesindex/cursos/bateria.png">
                <h4>BATERIA</h4>
            </div>

            <div class="service" onClick="location.href='/canto'">
                <img src="/static/imagesindex/cursos/canto.png">
                <h4>CANTO</h4>
            </div>

            <div class="service" onClick="location.href='/guitarra'">
                <img src="/static/imagesindex/cursos/guitarra.png">
                <h4>GUITARRA</h4>
            </div>

            <div class="service" onClick="location.href='/guitarraeletrica'">
                <img src="/static/imagesindex/cursos/guitarraeletrica.png">
                <h4>GUITARRA ELETRICA</h4>
            </div>

            <div class="service" onClick="location.href='/cavaquinho'">
                <img src="/static/imagesindex/cursos/guitarrapt.png">
                <h4>CAVAQUINHO</h4>
            </div>

            <div class="service" onClick="location.href='/saxofone'">
                <img src="/static/imagesindex/cursos/saxofone.png">
                <h4>SAXOFONE</h4>
            </div>

            <div class="service" onClick="location.href='/violino'">
                <img src="/static/imagesindex/cursos/violino.png">
                <h4>VIOLINO</h4>
            </div>
        </div>
    </div>
</section>


<section id="faq">
    <div class="inner-width">
        <h1 class="section-title">QUESTÕES FREQUENTES</h1>
        <div class="time-line">
            <div class="block">
                <h3>AULAS ONLINE - SITUAÇÃO DE EXCEPÇÃO DEVIDO À PANDEMIA POR COVID19</h3>
                <p>Sempre que um aluno ou professor tiver sido diagnosticado com COVID 19 ou tiver tido contacto de
                    proximidade com um doente e for determinada pela autoridade de saúde o seu isolamento, as aulas
                    presenciais serão substituídas por aulas online nos mesmos horários e dias definidos.

                    O aluno ou encarregado de educação deverá previamente informar o respectivo professor bem como
                    enviar para o e-mail da escola o respectivo formulário de certificação de isolamento profilático
                    preenchido pela autoridade de saúde.</p>
            </div>

            <div class="block">
                <h3>INSCRIÇÃO DE NOVOS ALUNOS</h3>
                <p>Os novos alunos deverão inscrever-se na recepção da CMB ou através do website. Será posteriormente
                    agendada uma reunião com o respectivo professor da disciplina.
                    Os novos alunos que pretendam frequentar qualquer um dos cursos da CMB terão que pagar uma taxa de
                    inscrição no valor de 10€ e o seguro anual de 5€, válida para todas as atividades durante o ano
                    letivo a ser paga junto com a primeira mensalidade.
                    Os alunos antigos estão isentos de pagar taxa de inscrição. Em caso de desistência não haverá
                    direito ao seu reembolso</p>
            </div>

            <div class="block">
                <h3>REPOSIÇÃO DE FALTAS</h3>
                <p>A CMB assumirá a responsabilidade da reposição de aulas, por cujas faltas tenha sido responsável. Não
                    haverá lugar à reposição de aulas ou será descontada qualquer percentagem na mensalidade, nos
                    períodos referentes às interrupções das atividades lectivas e aos feriados nacionais.
                    A CMB não assume a responsabilidade de repor aulas a que os alunos faltaram, mesmo que justificadas.
                    Fica ao critério do professor a sua reposição.
                    As aulas dadas fora do calendário letivo nos meses de Setembro e Julho serão dadas em regime livre
                    acordado com o professor de cada disciplina.</p>
            </div>

            <div class="block">
                <h3>INDISCIPLINA</h3>
                <p>Alunos com má conduta ou falta de aproveitamento escolar devem ser alvo de estudo. O professor deve
                    tentar logicamente junto aos encarregados de educação tentar resolver a situação e dar conhecimento
                    a todo o corpo docente da escola. Caso não existam alterações no comportamento do aluno o grupo
                    docente poderá reunir com os encarregados de educação e em último caso tomar a decisão de anular a
                    matrícula do aluno.</p>
            </div>

            <div class="block">
                <h3>PAGAMENTOS E PENALIZAÇÕES</h3>
                <p>Os pagamentos das mensalidades deverão ser efectuados na primeira aula de cada mês em numerário,
                    diretamente na recepção da CMB ou por transferência bancária até ao dia 8 do corrente mês.
                    O não cumprimento do pagamento dentro dos prazos estipulados terá um acréscimo de 10% sobre o valor
                    da mensalidade. Se, até 20 dias após o prazo estipulado para a liquidação da mensalidade, a situação
                    não estiver regularizada e não tiver sido apresentada qualquer justificação para a demora junto da
                    EMA, esta poderá suspender a frequência do aluno até inteira regularização.</p>
            </div>
        </div>
    </div>
</section>


<section id="price" class="dark">
    <h1 class="section-title">PRECOS</h1>
    <div class="tbl-header">
        <table cellpadding="0" cellspacing="0" border="0">
            <thead>
            <tr>
                <th>ATIVIDADE</th>
                <th>AULAS</th>
                <th>PRECO</th>
            </tr>
            </thead>
        </table>
    </div>
    <div class="tbl-content">
        <table cellpadding="0" cellspacing="0" border="0">
            <tbody>
            <tr>
                <td>Guitarra clássica, acústica e elétrica</td>
                <td>2 / por semana</td>
                <td>25€/ 40€ individual</td>
            </tr>
            <tr>
                <td>Guitarra clássica, acústica e elétrica</td>
                <td>3 / por semana</td>
                <td>45€ / 60€ individual</td>
            </tr>
            <tr>
                <td>Cavaquinho</td>
                <td>2 / por semana</td>
                <td>35€/ 45€ individual</td>
            </tr>
            <tr>
                <td>Cavaquinho</td>
                <td>3 / por semana</td>
                <td>50€/ 60€ individual</td>
            </tr>
            <tr>
                <td>Canto</td>
                <td>2 / por semana</td>
                <td>40€/ 60€ individual</td>
            </tr>
            <tr>
                <td>Canto</td>
                <td>3 / por semana</td>
                <td>65€/ 80€ individual</td>
            </tr>
            <tr>
                <td>Bateria</td>
                <td>2 / por semana</td>
                <td>40€/ 60€ individual</td>
            </tr>
            <tr>
                <td>Bateria</td>
                <td>3 / por semana</td>
                <td>65€/ 85€ individual</td>
            </tr>
            <tr>
                <td>Piano</td>
                <td>2 / por semana</td>
                <td>40€/ 60€ individual</td>
            </tr>
            <tr>
                <td>Piano</td>
                <td>3 / por semana</td>
                <td>65€/ 85€ individual</td>
            </tr>
            <tr>
                <td>Violino</td>
                <td>2 / por semana</td>
                <td>40€/ 60€ individual</td>
            </tr>
            <tr>
                <td>Violino</td>
                <td>3 / por semana</td>
                <td>65€/ 85€ individual</td>
            </tr>
            <tr>
                <td>Saxofone</td>
                <td>2 / por semana</td>
                <td>40€/ 60€ individual</td>
            </tr>
            <tr>
                <td>Saxofone</td>
                <td>3 / por semana</td>
                <td>65€/ 85€ individual</td>
            </tr>
            </tbody>
        </table>
    </div>
</section>


<section id="contact">
    <div class="inner-width">
        <h1 class="section-title">ENTRA EM CONTACTO</h1>
        <div class="contact-info">
            <div class="item">
                <i class="fas fa-mobile-alt"></i>
                +365 963 965 166
            </div>

            <div class="item">
                <i class="fas fa-envelope"></i>
                escolacmb@gmail.com
            </div>

            <div class="item">
                <i class="fas fa-map-marker-alt"></i>
                Portugal, Braga
            </div>
        </div>
    </div>
</section>

<script>
        $(window).on("load",function(){
            $(".loader-container").fadeOut(1000);
        });

</script>
{% endblock %}
