{% extends 'layout.html' %}
{% block conteudo %}
<body>

  <!-- Hero Section  -->
  <section id="hero">
    <div class="hero container">
      <div>
        <h1>Ola, <span></span></h1>
        <h1>Somos Conhecidos por <span></span></h1>
        <h1>CMB <span></span></h1>
        <a href="#about" type="button" class="cta">Quem Somos</a>
      </div>
    </div>
  </section>
  <!-- End Hero Section  -->

  <!-- Service Section -->
  <section id="services">
    <div class="services container">
      <div class="service-top">
        <h1 class="section-title">Cu<span>r</span>sos</h1>
      </div>
      <div class="service-bottom">
        <div class="service-item">
          <div class="icon"><img src="https://img.icons8.com/ios-filled/50/4a90e2/grand-piano.png"/></div>
          <h2>Piano</h2>
          <p>O curso de Piano destina-se a alunos que desejam obter ou aperfeiçoar os seus conhecimentos na prática deste instrumento musical.</p>
        </div>
        <div class="service-item">
          <div class="icon"><img src="https://img.icons8.com/emoji/48/000000/guitar-emoji.png"/></div>
          <h2>Guitarra Acustica</h2>
          <p>O Curso de Guitarra Acústica destina-se a alunos que desejam obter ou aperfeiçoar os seus conhecimentos na prática deste instrumento musical.</p>
        </div>
        <div class="service-item">
          <div class="icon"><img src="https://img.icons8.com/fluent/48/000000/drum-set.png"/></div>
          <h2>Bateria</h2>
          <p>O Curso de Bateria destina-se a alunos que desejam obter ou aperfeiçoar os seus conhecimentos na prática deste instrumento musical.</p>
        </div>
        <div class="service-item">
          <div class="icon"><img src="https://img.icons8.com/plasticine/100/000000/microphone.png"/></div>
          <h2>Canto</h2>
          <p>O Curso de Canto destina-se a alunos que desejam obter ou aperfeiçoar os seus conhecimentos na prática deste instrumento musical.</p>
        </div>
        <div class="service-item">
          <div class="icon"><img src="https://img.icons8.com/ios-filled/50/4a90e2/progressive-rock.png"/></div>
          <h2>Guitarra Eletrica</h2>
          <p>O Curso de Guitarra Eletrica destina-se a alunos que desejam obter ou aperfeiçoar os seus conhecimentos na prática deste instrumento musical.</p>
        </div>
        <div class="service-item">
          <div class="icon"><img src="https://img.icons8.com/fluent/48/4a90e2/guitar.png"/></div>
          <h2>Guitarra</h2>
          <p>O Curso de Guitarra destina-se a alunos que desejam obter ou aperfeiçoar os seus conhecimentos na prática deste instrumento musical.</p>
        </div>
        <div class="service-item">
          <div class="icon"><img src="https://img.icons8.com/color/48/000000/banjo.png"/></div>
          <h2>Cavaquinho</h2>
          <p>O Curso de Cavaquinho destina-se a alunos que desejam obter ou aperfeiçoar os seus conhecimentos na prática deste instrumento musical.</p>
        </div>
        <div class="service-item">
          <div class="icon"><img src="https://img.icons8.com/doodle/48/000000/saxophone--v1.png"/></div>
          <h2>Saxofone</h2>
          <p>O Curso de Saxofone destina-se a alunos que desejam obter ou aperfeiçoar os seus conhecimentos na prática deste instrumento musical.</p>
        </div>
        <div class="service-item">
          <div class="icon"><img src="https://img.icons8.com/emoji/48/000000/violin-emoji.png"/></div>
          <h2>Violino</h2>
          <p>O Curso de Violino destina-se a alunos que desejam obter ou aperfeiçoar os seus conhecimentos na prática deste instrumento musical.</p>
        </div>
      </div>
    </div>
  </section>
  <!-- End Service Section -->

  <!-- Projects Section -->
  <section id="projects">
    <div class="projects container">
      <div class="projects-header">
        <h1 class="section-title">Eventos <span>Recentes</span></h1>
      </div>
      <div class="all-projects">
        <div class="project-item">
          <div class="project-info">
            <h1>Audicoes</h1>
            <h2>Temporada 21-22</h2>
            <p>Em breve comecaremos as Audicoes: 26 audicoes de 9 instrumentos diferentes, que decorrerao online e nos encherao de musica e alegria!</p>
          </div>
          <div class="project-img">
            <img src="static/eventos/audicoes.jpg" alt="img">
          </div>
        </div>
        <div class="project-item">
          <div class="project-info">
            <h1>Entrega de Diplomas</h1>
            <h2>Temporada 20-21</h2>
            <p>A CMB vai proceder a entrega de diplomas aos alunos finalistas dos cursos de canto e de violino, que concluiram os 5º e 8º Graus no ano letivo de 2019-2020!</p>
            <p>Curso de Canto(8º Grau) - 10 de Outobro de 2020, pelas 16:00</p>
            <p>Curso de Violino(5º Grau) - 10 de Outobro de 2020, pelas 17:15</p>
          </div>
          <div class="project-img">
            <img src="static/eventos/diplomas.jpg" alt="img">
          </div>
        </div>
        <div class="project-item">
          <div class="project-info">
            <h1>Concerto de Ano Novo</h1>
            <h2>2020</h2>
            <p>A CMB apresenta o Concerto de Ano Novo 2020. Convidamos a juntar-se a nossa celebracao no dia 10 de Janeiro pelas 21:00.</p>
          </div>
          <div class="project-img">
            <img src="static/eventos/concerto.jpg" alt="img">
          </div>
        </div>
        <div class="project-item">
          <div class="project-info">
            <h1>Canta Natal</h1>
            <h2>2019</h2>
            <p>E com enorme prazer que vos convidamos para o Concerto de Natal no dia 18 de Dezembro as 21:00 no Grande Auditorio do Altice Forum Braga</p>
          </div>
          <div class="project-img">
            <img src="static/eventos/natal.jpg" alt="img">
          </div>
        </div>
        <div class="project-item">
          <div class="project-info">
            <h1>Um dia com Artur Pizarro</h1>
            <h2>2019</h2>
            <p>No dia 11 de Maio, Artur Pizarro vem passar o dia na nosso estabelecimento para dar umas aulas de Piano. </p>
            <p>Gostaria de Assistir ?</p>
            <p>Inscricoes: escolacmb@gmail.com</p>
            <p>Custos:</p>
            <p>Alunos Internos e EE: 0€</p>
            <p>Pessoas de Fora: 25€</p>
          </div>
          <div class="project-img">
            <img src="static/eventos/artur.jpg" alt="img">
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Projects Section -->

  <!-- About Section -->
  <section id="about">
    <div class="about container">
      <div class="col-left">
        <div class="about-img">
          <img src="static/img/img-2.png" alt="img">
        </div>
      </div>
      <div class="col-right">
        <h1 class="section-title">Escola <span>CMB</span></h1>
        <h2>Escola e Ateliê</h2>
        <p>Temos como principal objetivo oferecer um ensino de qualidade, num ambiente único e descontraído, abordando os mais diversos estilos musicais seguindo metodologias de ensino ajustadas a cada indivíduo, de acordo com os seus interesses/objetivos, idade e/ou especificidades individuais. A nossa linha orientadora de ensino tem como base uma forma aberta, honesta e verdadeiramente inclusiva no infinito respeito por cada identidade de todos aqueles que chegam até nós desenvolvendo momentos de música, de espanto, de descoberta, de trabalho e de partilha. Move-nos assim, a paixão pela música e o seu impacto positivo na nossa sociedade. Esta paixão é partilhada com todos os nossos alunos e acreditamos que todos temos o direito a usufruir e aprender de forma única e singular esta tão nobre arte, a Música!</p>
      </div>
    </div>
  </section>
  <!-- End About Section -->

  <!-- Contact Section -->
  <section id="contact">
    <div class="contact container">
      <div><h1 class="section-title">Contact <span>info</span></h1></div>
      <div class="contact-items">
        <div class="contact-item">
          <div class="icon"><img src="https://img.icons8.com/bubbles/100/000000/phone.png"/></div>
          <div class="contact-info">
            <h1>Contacto</h1>
            <h2>+365 963 965 166</h2>
            <h2>+365 253 572 422</h2>
          </div>
        </div>
        <div class="contact-item">
          <div class="icon"><img src="https://img.icons8.com/bubbles/100/000000/new-post.png"/></div>
          <div class="contact-info">
            <h1>Email</h1>
            <h2>escolacmb@gmail.com</h2>
            <h2>goncalo.gomes1412003@gmail.com</h2>
          </div>
        </div>
        <div class="contact-item">
          <div class="icon"><img src="https://img.icons8.com/bubbles/100/000000/map-marker.png"/></div>
          <div class="contact-info">
            <h1>Morada</h1>
            <h2>Rua Nova da Estacao 313 Portugal, Braga</h2>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Contact Section -->

  <script src="./app.js"></script>
</body>
</html>
{% endblock %}