<!DOCTYPE html>
<html lang="pt"></html>
<head>
    <meta charset="UTF-8">
    <title>Escola CMB</title>

    <!-- Load an icon library -->
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js"></script>
    <script src="static/js/scripts.js"></script>
    <link rel="stylesheet" href="static/style.css">
    <script src="https://kit.fontawesome.com/a8894cee15.js" crossorigin="anonymous"></script>


</head>

<!--Navbar-->
<nav class="navbar">
    <div class="inner-width">
        <a href="/" class="logo"></a>
        <button class="menu-toggler">
            <span></span>
            <span></span>
            <span></span>
        </button>
        <div class="navbar-menu">
            <a href="/">Inicio</a>
            <a href="#about">Missao</a>
            <a href="#services">Cursos</a>
            <a href="#faq">FAQ</a>
            <a href="#contact">Contacto</a>
            <a href="/pages-login-2">Login</a>
        </div>
    </div>
</nav>

</body>

{% block conteudo %}
{% endblock %}
<footer>
    <div class="inner-width">
        <div class="copyright">
            &copy; 2021 | Created & Designed By <a href="#">Goncalo Gomes</a>
        </div>
        <div class="sm">
            <a href="https://www.facebook.com" class="fab fa-facebook-f"></a>
            <a href="https://twitter.com/home" class="fab fa-twitter"></a>
            <a href="https://instagram.com" class="fab fa-instagram"></a>
        </div>
    </div>
</footer>

<!-- Go Top BTN -->
<button class="goTop fas fa-arrow-up"></button>

</body>
</html>
