<!DOCTYPE html>
<html lang="pt"></html>
<head>
    <meta charset="UTF-8">
    <title>Escola CMB</title>
    <link rel="stylesheet" href="static/style.css">

</head>

  <!-- Header -->
  <section id="header">
    <div class="header container">
      <div class="nav-bar">
        <div class="brand">
          <a href="/"><h1><span>E</span>scola <span>C</span>MB</h1></a>
        </div>
        <div class="nav-list">
          <div class="hamburger"><div class="bar"></div></div>
          <ul>
            <li><a href="/">Inicio</a></li>
            <li><a href="#services">Cursos</a></li>
            <li><a href="#projects">Eventos</a></li>
            <li><a href="#about">Sobre</a></li>
            <li><a href="#contact">Contacto</a></li>
            <li><a href="/pages-login-2">Login</a></li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <!-- End Header -->

</body>

{% block conteudo %}
{% endblock %}
  <!-- Footer -->
  <section id="footer">
    <div class="footer container">
      <div class="brand"><h1><span>E</span>SCOLA <span>C</span>MB</h1></div>
      <h2>A sua solucao estao a sua frente!</h2>
      <div class="social-icon">
        <div class="social-item">
          <a href="#"><img src="https://img.icons8.com/bubbles/100/000000/facebook-new.png"/></a>
        </div>
        <div class="social-item">
          <a href="#"><img src="https://img.icons8.com/bubbles/100/000000/instagram-new.png"/></a>
        </div>
        <div class="social-item">
          <a href="#"><img src="https://img.icons8.com/bubbles/100/000000/twitter.png"/></a>
        </div>
      </div>
      <p>Copyright © 2020 CMB. All rights reserved</p>
    </div>
  </section>
  <!-- End Footer -->

</body>
</html>