{% extends 'layout.html' %}
{% block conteudo %}

<section id="login">
    <div class="container-login">
        <div class="wrap-login">
            <form class="login-form validate-form" id="formLogin" action="" method="post">
                <span class="login-form-title">LOGIN</span>

                <div class="wrap-input100">
                    <input class="input100" type="text" name="utilizador" placeholder="Utilizador" required>
                    <span class="focus-efeito"></span>
                </div>

                <div class="wrap-input100">
                    <input class="input100" type="password" name="passe" placeholder="Palavra-Passe" required>
                    <span class="focus-efeito"></span>
                </div>

                <div class="container-login-form-btn">
                    <div class="wrap-login-form-btn">
                        <div class="login-form-bgbtn"></div>
                        <button type="submit" name="submit" class="login-form-btn">Entrar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>
{% if erro %}<h1>{{ erro }}</h1>{% endif %}
{% endblock %}